/**
 * 设置主要的颜色变量
 */

  @import './animation.scss';

$primary: #49240F;
$secondary: #E4A79D;

html,
body,
#app ,#__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}


/**
 * 设置背景效果
 * 参考地址 https://segmentfault.com/a/1190000041164613
 */
.twinPeaks {
  background-image: linear-gradient(to right, #F4F4F4 4%, #DFDEDC 99%);
}


